version: '2'
services:

 db:
    image: mariadb
    ports:
      - "3306:3306"
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=localgit
      - MYSQL_USER=localgit
      - MYSQL_PASSWORD=localgit
    volumes:
      - ./data_db/:/var/lib/mysql

  web:
    image: gitea/gitea:1.3.2
    ports:
      - "3000:3000"
      - "2222:22"
    depends_on:
      - db
    restart: always
    volumes:
      - ./data_git:/data
 

