nohup /home/ubuntu/.local/bin/airflow celery worker -c {{ node_worker_count | default("1") }} {{ '--queues '+lookup('vars', 'queues') if lookup('vars', 'queues') else '' }} -H airflow-{{ lookup('env','AIRFLOW_NAME') }}-worker-{{ lookup('vars', 'ansible_host') }}-{{ lookup('vars', 'queues') }} --pid /home/ubuntu/airflow/airflow-worker.pid </dev/null > /home/ubuntu/airflow/airflow-worker.log 2>&1 &